POSTGRES_USER=example_user
POSTGRES_PASSWORD=examplesecretpassword
POSTGRES_DB=exampledjango
DB_HOST=exampledb
DB_PORT=5432
SECRET_KEY=EXAMPLE_KEY
DEBUG = 'False'
ALLOWED_HOSTS = 'xxx.xxx.xx.xx 127.0.0.1 localhost your_site_name'