POSTGRES_USER=django_user
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=django
DB_HOST=db
DB_PORT=5432
SECRET_KEY=KEY_FOR_EXAMPLE
DEBUG = 'False'
ALLOWED_HOSTS = 'xxx.xxx.xxx.xxx 127.0.0.1 localhost your_domain'
